body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  height: 100vh;
  background-color: #a3e635;
  color: white;
}

.container{
    border: 1px solid #953232;
    text-align: center;
    height: 100%;
    margin:auto;
    margin-top:30px;
    text-align: center;
    padding:20px;
    width:400px;
    height:450px;
    background-color:#b8cc94;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

p {
  padding: 2rem;
  text-align: left;
  font-size: large;
}

